
/* begin Page */
img
{
  behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none", this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')", this.src = GetStyleUrl()+"images/spacer.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''), this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')", this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}
/* end Page */

/* begin Box, Sheet */

.Sheet
{
  width: 900px;
  zoom: 1;
}


.Sheet-tl
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-s.png',sizingMethod='crop')");
}

.Sheet-tr
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-11+'px');
}

.Sheet-tr div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-s.png',sizingMethod='crop')");
}

.Sheet-bl
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-11+'px');
}

.Sheet-bl div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-s.png',sizingMethod='crop')");
}

.Sheet-br
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-11+'px');
  left: expression(this.parentNode.offsetWidth-11+'px');
}

.Sheet-br div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-s.png',sizingMethod='crop')");
}

.Sheet-tc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-22+'px');
}

.Sheet-tc div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-h.png',sizingMethod='crop')");
}

.Sheet-bc
{
  font-size: 1px;
  top: expression(this.parentNode.offsetHeight-11+'px');
  width: expression(this.parentNode.offsetWidth-22+'px');
}

.Sheet-bc div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-h.png',sizingMethod='crop')");
}

.Sheet-cl
{
  font-size: 1px;
  height: expression(this.parentNode.offsetHeight-22+'px');
}

.Sheet-cl div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-v.png',sizingMethod='crop')");
}

.Sheet-cr
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-11+'px');
  height: expression(this.parentNode.offsetHeight-22+'px');
}

.Sheet-cr div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-v.png',sizingMethod='crop')");
}

.Sheet-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-22+'px');
  height: expression(this.parentNode.offsetHeight-22+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-c.png',sizingMethod='scale')");
}


/* end Box, Sheet */

/* begin Header */
div.Header-png
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Header.png',sizingMethod='crop')");
}
/* end Header */

/* begin Menu */

.artmenu, .artmenu ul
{
  height: 1%;
}

.artmenu li.artmenuhover
{
  z-index: 10000;
}

.artmenu .artmenuhoverUL
{
  visibility: visible;
}

.artmenu .artmenuhoverUL
{
  top: 100%;
  left: 0;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
  top: 0;
  left: 100%;
}

.artmenu ul a
{
  height: 1%;
}

.artmenu li li
{
  float: left;
  width: 100%;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
  top: 5px;
  left: 100%;
}

.artmenu, .artmenu ul
{
  height: 1%;
}

.artmenu li.artmenuhover
{
  z-index: 10000;
}

.artmenu .artmenuhoverUL
{
  visibility: visible;
}

.artmenu .artmenuhoverUL
{
  top: 100%;
  left: 0;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
  top: 0;
  left: 100%;
}

.artmenu ul a
{
  height: 1%;
}

.artmenu li li
{
  float: left;
  width: 100%;
}


.nav
{
  zoom: 1;
}


.nav .l
{
  width: expression(this.parentNode.offsetWidth-0+'px');
}


.nav .r
{
  left: expression(this.parentNode.offsetWidth-0+'px');
}


.nav .r div
{
  left: expression(this.parentNode.offsetWidth-898+'px');
}


.nav .l, .nav .r div
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/nav.png',sizingMethod='crop')");
}

/* end Menu */

/* begin MenuItem */

.artmenu a , .artmenu a span
{
  float: left;
}


.artmenu a span span
{
  display: inline;
}


.artmenu .artmenuhover .artmenuhoverA
{
  background-position: left -31px;
}

.artmenu .artmenuhover .artmenuhoverA span
{
  background-position: right -31px;
}


.artmenu .artmenuhover .artmenuhoverA span span
{
  color: #ECF2F4;
  background-position: left -31px;
}

/* end MenuItem */

/* begin MenuSeparator */
.nav .separator
{
  font-size: 1px;
  zoom:1;
}
/* end MenuSeparator */

/* begin MenuSubItem */

.artmenu ul a
{
  color: #2D3A43 !important;
}

.artmenu ul a:hover {
  color: #000000 !important;
}	

.artmenu ul .artmenuhover .artmenuhoverA
{
  color: #000000 !important;
  border-color: {HoveredBorderColor};
  background-position: 0 -23px;
}

.nav .artmenu ul a:hover span, .nav .artmenu ul a:hover span span
{
  color: #000000 !important;
}	

.nav .artmenu ul .artmenuhover .artmenuhoverA span, .nav .artmenu ul .artmenuhover .artmenuhoverA span span
{
  color: #000000 !important;
}

/* end MenuSubItem */

/* begin Box, Block */

.Block
{
  zoom: 1;
}



/* end Box, Block */

/* begin BlockHeader */

.BlockHeader
{
  zoom: 1;
}


.BlockHeader .l
{
  width: expression(this.parentNode.offsetWidth-6+'px');
}


.BlockHeader .r
{
  left: expression(this.parentNode.offsetWidth-6+'px');
}


.BlockHeader .r div
{
  left: expression(this.parentNode.offsetWidth-898+'px');
}

.BlockHeader .l, .BlockHeader .r div
{
  font-size: 1px;
}


.BlockHeader .l, .BlockHeader .r div
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockHeader.png',sizingMethod='crop')");
}


.header-tag-icon
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockHeaderIcon.png',sizingMethod='crop')");
}

/* end BlockHeader */

/* begin Box, BlockContent */

.BlockContent
{
  zoom: 1;
}




.BlockContent-body ul li
{
  height:1%;
  background:none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContentBullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */

.Post
{
  zoom: 1;
}



/* end Box, Post */

/* begin PostContent */
h1
{
  margin: 0.67em 0;
}

h2
{
  margin: 0.8em 0;
}

h3
{
  margin: 1em 0;
}

h4
{
  margin: 1.25em 0;
}

h5
{
  margin: 1.67em 0;
}

h6
{
  margin: 2.33em 0;
}
/* end PostContent */

/* begin PostBullets */

.Post ul li
{
  height:1%;
  background:none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostBullets.png',sizingMethod='crop')");
}

/* end PostBullets */

/* begin PostQuote */

blockquote
{
  height:1%;
  background-image: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostQuote.png',sizingMethod='crop')");
}

/* end PostQuote */

/* begin Button */
button.Button, a.Button
{
  display:list-item;
  list-style-type:none;
  float:left;
}

.Button, .Button .btn
{
  font-size: 1px;
}


.Button .r
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-10+'px');
}


.Button .r span
{
  font-size: 1px;
  left: expression(this.parentNode.offsetWidth-409+'px');
}


.Button .l
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-10+'px');
}


.Button .l, .Button .r span
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Button.png',sizingMethod='crop')");
}

/* end Button */

/* begin Footer */

.Footer .Footer-background
{
  top: expression(this.parentNode.offsetHeight-100+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Footer.png',sizingMethod='crop')");
  zoom: 1;
  font-size:1px;
}


.rss-tag-icon
{
  zoom:1;
  font-size:1px;
  background:none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/rssIcon.png',sizingMethod='crop')");
}

/* end Footer */



#user-login-form ul li 
{ 
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
