
/* begin Page */

body
{
  margin: 0 auto;
  padding: 0;
  background-color: #232D34;
}

.Main
{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}




.PageBackgroundSimpleGradient
{
  background-image: url('images/Page-BgSimpleGradient.jpg');
  background-repeat: repeat-x;
  height: 246px;
}

.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size:1px;
}


/* end Page */

/* begin Box, Sheet */
.Sheet
{
  overflow: hidden;
  min-width:23px;
  min-height:23px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  width: 900px;
}


.Sheet-body
{
  position: relative;
  z-index: 0;
  margin: 1px;
}

.Sheet-tl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  width: 11px;
  height: 11px;
  background-image: url('images/Sheet-s.png');
}

.Sheet-tr
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 11px;
  height: 11px;
}

.Sheet-tr div
{
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -11px;
  width: 22px;
  height: 22px;
  background-image: url('images/Sheet-s.png');
}

.Sheet-bl
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 11px;
  height: 11px;
}

.Sheet-bl div
{
  position: absolute;
  z-index: -1;
  top: -11px;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url('images/Sheet-s.png');
}

.Sheet-br
{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 11px;
  height: 11px;
}

.Sheet-br div
{
  position: absolute;
  z-index: -1;
  top: -11px;
  left: -11px;
  width: 22px;
  height: 22px;
  background-image: url('images/Sheet-s.png');
}

.Sheet-tc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 0;
  left: 11px;
  right: 11px;
  height: 11px;
}

.Sheet-tc div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 22px;
  background-image: url('images/Sheet-h.png');
}

.Sheet-bc
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  bottom: 0;
  left: 11px;
  right: 11px;
  height: 11px;
}

.Sheet-bc div
{
  position: absolute;
  z-index: -1;
  top: -11px;
  left: 0;
  width: 100%;
  height: 22px;
  background-image: url('images/Sheet-h.png');
}

.Sheet-cl
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 11px;
  left: 0;
  width: 11px;
  bottom: 11px;
}

.Sheet-cl div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 22px;
  height: 100%;
  background-image: url('images/Sheet-v.png');
}

.Sheet-cr
{
  position: absolute;
  overflow:hidden;
  z-index: -1;
  top: 11px;
  right: 0;
  width: 11px;
  bottom: 11px;
}

.Sheet-cr div
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: -11px;
  width: 22px;
  height: 100%;
  background-image: url('images/Sheet-v.png');
}

.Sheet-cc
{
  position: absolute;
  overflow:hidden;
  z-index: -2;
  top: 11px;
  left: 11px;
  right: 11px;
  bottom: 11px;
  background-image: url('images/Sheet-c.png');
}


.Sheet
{
  margin-top: 20px !important;
}
/* end Box, Sheet */

/* begin Header */
div.Header
{
  margin: 0 auto;
  position: relative;
  z-index:0;
  width: 898px;
  height: 225px;
}

div.Header-png
{
  position: absolute;
  z-index:-2;
  top: 0;
  left: 0;
  width: 898px;
  height: 225px;
  background-image: url('images/Header.png');
  background-repeat: no-repeat;
  background-position: left top;
}


div.Header-jpeg
{
  position: absolute;
  z-index:-1;
  top: 0;
  left: 0;
  width: 898px;
  height: 225px;
  background-image: url('images/Header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}
/* end Header */

/* begin Logo */
.logo
{
  display : block;
  position: absolute;
  left: 10px;
  top: 79px;
  width: 582px;
}

h1.logo-name
{
  display: block;
  text-align: center;
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 36px;
  text-decoration: none;
  padding:0;
  margin:0;
  color: #DAECF1 !important;
}

.logo-text
{
  display: block;
  text-align: center;
}

.logo-text, .logo-text a
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  padding:0;
  margin:0;
  color: #DAECF1 !important;
}

/* end Logo */

/* begin Menu */
/* menu structure */

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
  text-align:left;
  text-decoration:none;
  outline:none;
  letter-spacing:normal;
  word-spacing:normal;
}

.artmenu, .artmenu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.artmenu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background:none;
}

.artmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.artmenu li li
{
  float: none;
}

.artmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background:none;
}

.artmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.artmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.artmenu:after, .artmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.artmenu, .artmenu ul
{
  min-height: 0;
}

.artmenu ul
{
  background-image: url(images/spacer.gif);
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.artmenu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}


/* menu structure */

.nav
{
  position: relative;
  margin: 0  auto;
  width: 898px;
  height: 43px;
  z-index: 100;
}

.artmenu
{
  padding: 12px 6px 0px 6px;
}


.nav .l, .nav .r, .nav .r div
{
  top: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 43px;
}

.nav .l
{
  left: 0;
  right: 0px;
}


.nav .r
{
  right: 0;
  width: 0px;
}


.nav .r div
{
  width: 898px;
  right: 0;
}


.nav .l, .nav .r div
{
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url('images/nav.png');
}

/* end Menu */

/* begin MenuItem */
.artmenu ul li
{
  clear: both;
}

.artmenu a , .artmenu a span
{
  height: 31px;
  display: block;
}


.artmenu a
{
  cursor: pointer;
  text-decoration: none;
  margin-right: 2px;
  margin-left: 2px;

}
.artmenu a
{
  background-image: url('images/item-left.png');
  background-position: left top;
  background-repeat: no-repeat;
}

.artmenu a span
{
  background-image: url('images/item-right.png');
  background-position: right top;
  background-repeat: no-repeat;
}
.artmenu a span span
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  color: #171D21;
  padding: 0 19px;
  margin: 0 4px;
  line-height: 31px;
  text-align: center;
  background-image: url('images/item-center.png');
  background-position: left top;
  background-repeat: repeat-x;

}


.artmenu a:hover
{
  background-position: left -31px;
}

.artmenu li:hover>a
{
  background-position: left -31px;
}
.artmenu li:hover a span
{
  background-position: right -31px;
}

.artmenu a:hover span
{
  background-position: right -31px;
}


.artmenu a:hover span span
{
  color: #ECF2F4;
  background-position: left -31px;
}

.artmenu li:hover a span span
{
  color: #ECF2F4;
  background-position: left -31px;
}


.artmenu a.active
{
  background-position: left -62px;
}

.artmenu a.active span
{
  background-position: right -62px;
}

.artmenu a.active span span
{
  color: #C0DEE8;
  background-position: left -62px;
}

/* end MenuItem */

/* begin MenuSubItem */
.artmenu ul a
{
  display:block;
  text-align: center;
  white-space: nowrap;
  height: 23px;
  width: 218px;
  overflow:hidden;
  line-height: 23px;
  margin-right: auto;


  background-image: url('images/subitem-bg.png');
  background-position: left top;
  background-repeat: repeat-x;

  border-width: 0px;
  border-style: solid;
  border-color: {PassiveBorderColor};
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.artmenu ul a, .artmenu ul a:link, .artmenu ul a:visited, .artmenu ul a:hover, .artmenu ul a:active, .nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 23px;
  color: #2D3A43;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.artmenu ul ul a
{
  margin-left: auto;
}

.artmenu ul li a.active {
	background-position: 0 -23px;
}

.artmenu ul li a:hover
{
  color: #000000;
  border-color: {HoveredBorderColor};
  background-position: 0 -23px;
}

.artmenu ul li:hover>a
{
  color: #000000;
  border-color: {HoveredBorderColor};
  background-position: 0 -23px;
}

.nav .artmenu ul li a:hover span, .nav .artmenu ul li a:hover span span
{
  color: #000000;
}

.nav .artmenu ul li:hover>a span, .nav .artmenu ul li:hover>a span span
{
  color: #000000;
}


/* end MenuSubItem */

/* begin ContentLayout */
.contentLayout
{
  margin-bottom: 0px;
  width: 898px;
  position: relative;
}
/* end ContentLayout */

/* begin Box, Block */
.Block
{
  overflow: hidden;
  min-width:1px;
  min-height:1px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.Block-body
{
  position: relative;
  z-index: 0;
  margin: 0px;
}


.Block
{
  margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.BlockHeader
{
  position: relative;
  overflow: hidden;
  height: 30px;
  z-index: 0;
  line-height: 30px;
  padding: 0 7px;
  margin-bottom: 7px;

}

.BlockHeader-text
{
  white-space : nowrap;
  color: #000000;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  line-height: 30px;
}


.BlockHeader .l, .BlockHeader .r, .BlockHeader .r div
{
  top: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  height: 30px;
}

.BlockHeader .l
{
  left: 0;
  right: 6px;
}


.BlockHeader .r
{
  right: 0;
  width: 6px;
}


.BlockHeader .r div
{
  width: 898px;
  right: 0;
}


.BlockHeader .l, .BlockHeader .r div
{
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url('images/BlockHeader.png');
}



.header-tag-icon
{
  display:inline-block;
  background-position:left top;
  background-image: url('images/BlockHeaderIcon.png');
  padding:0 0 0 22px;
  background-repeat: no-repeat;
  min-height: 15px;
  margin: 0 0 0 5px;
}




/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent
{
  overflow: hidden;
  min-width:1px;
  min-height:1px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.BlockContent-body
{
  position: relative;
  z-index: 0;
  margin: 7px;
}


.BlockContent-body
{
  color:#8AAFBC;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.BlockContent-body a:link
{
  color: #79BACD;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.BlockContent-body a:visited, .BlockContent-body a.visited
{
  color: #CBDBE1;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.BlockContent-body a:hover, .BlockContent-body a.hover
{
  color: #9ECDDB;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}


.BlockContent-body ul
{
  list-style-type: none;
  color: #92A7B5;
  margin:0;
  padding:0;
}

.BlockContent-body li
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.BlockContent-body ul li
{
  padding:0px 0 0px 10px;
  background-image: url('images/BlockContentBullets.png');
  background-repeat:no-repeat;
  margin:0.5em 0 0.5em 0;
  line-height:1.2em;
}

/* end Box, BlockContent */

/* begin Box, Post */
.Post
{
  overflow: hidden;
  min-width:1px;
  min-height:1px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.Post-body
{
  position: relative;
  z-index: 0;
  margin: 10px;
}


.Post
{
  margin: 10px;
}


/* Start images */
a img
{
  border: 0;
}

.article img, img.article
{
  border-style: solid;
  border-width: 0px;
  border-color: #2B424A;
  margin: 1em;
}

.article table {
  margin: 1em;
}

.article caption {
  margin: 0 1em 1em 1em;
}

.metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin:2px;
}
/* Finish images */

/* Start tables */

.article table, table.article
{
  border-collapse: collapse;
  margin: 1px;
  width:auto;
}

.article table, table.article .article tr, .article th, .article td
{
  background-color:Transparent;
}

.article th, .article td
{
  padding: 2px;
  border: solid 1px #416471;
  vertical-align: top;
  text-align:left;
}

.article th
{
  text-align:center;
  vertical-align:middle;
  padding: 7px;
}



/* Finish tables */
/* end Box, Post */

/* begin PostHeaderIcon */
.PostHeaderIcon-wrapper
{
  text-decoration:none;
  margin: 0.2em 0;
  padding: 0;
  font-weight:normal;
  font-style:normal;
  letter-spacing:normal;
  word-spacing:normal;
  font-variant:normal;
  text-decoration:none;
  font-variant:normal;
  text-transform:none;
  text-align:left;
  text-indent:0;
  line-height:inherit;
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 24px;
  color: #BCDCE6;
}

.PostHeaderIcon-wrapper, .PostHeaderIcon-wrapper a, .PostHeaderIcon-wrapper a:link, .PostHeaderIcon-wrapper a:visited, .PostHeaderIcon-wrapper a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 24px;
  color: #BCDCE6;
}

.PostHeaderIcon-wrapper img
{
  border:none;
  vertical-align: middle;
  margin:0;
}
/* end PostHeaderIcon */

/* begin PostHeader */
.PostHeader a:link
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  text-decoration: none;
  text-align: left;
  color: #A9D3DF;
}

.PostHeader a:visited, .PostHeader a.visited
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  text-decoration: none;
  text-align: left;
  color: #E5EDF0;
}

.PostHeader a:hover, .PostHeader a.hovered
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  text-decoration: none;
  text-align: left;
  color: #C3E0E9;
}
/* end PostHeader */

/* begin PostIcons */
.PostHeaderIcons, .PostHeaderIcons a, .PostHeaderIcons a:link, .PostHeaderIcons a:visited, .PostHeaderIcons a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #92A7B5;
}

.PostHeaderIcons a, .PostHeaderIcons a:link, .PostHeaderIcons a:visited, .PostHeaderIcons a:hover
{
  margin:0;
}

.PostHeaderIcons a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #92A7B5;
}

.PostHeaderIcons a:visited, .PostHeaderIcons a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
  color: #92A7B5;
}

.PostHeaderIcons a:hover, .PostHeaderIcons a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-style: italic;
  font-weight: normal;
  text-decoration: underline;
  color: #79BACD;
}


/* end PostIcons */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  color: #8AAFBC;
}

.PostContent
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #8AAFBC;
}

/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #79BACD;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #79BACD;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #B0BFC9;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #C3E0E9;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 32px;
  color: #79BACD;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 24px;
  color: #9ECDDB;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 19px;
  color: #9ECDDB;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 16px;
  color: #B1CAD2;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 13px;
  color: #B1CAD2;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
  font-size: 11px;
  color: #B1CAD2;
}
/* Finish Content headings Fonts & Colors  */

/* end PostContent */

/* begin PostBullets */
/* Start Content list */

ul
{
  list-style-type: none;
  color: #92A7B5;
  margin:0;
  padding:0;
}

li
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}



.Post ul li
{
  padding:0px 0 0px 10px;
  background-image: url('images/PostBullets.png');
  background-repeat:no-repeat;
  margin:0.5em 0 0.5em 0;
  line-height:1.2em;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */

blockquote p
{
  color:#060D0F;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

blockquote
{
  border-color:#9BBAC5;
  border-width: 1px;
  border-style: solid;
  margin:10px 10px 10px 50px;
  padding:5px 5px 5px 41px;
  background-color:#93C7D7;
  background-image:url('images/PostQuote.png');
  background-position:left top;
  background-repeat:no-repeat;
}



/* Finish blockuote */
/* end PostQuote */

/* begin PostMetadata */

.PostMetadataFooter
{

  background-color: #36535E;
  border-color: #2B424A;
  border-style: solid;
  border-width: 1px;
  padding:3px;
}




/* end PostMetadata */

/* begin PostIcons */
.PostFooterIcons, .PostFooterIcons a, .PostFooterIcons a:link, .PostFooterIcons a:visited, .PostFooterIcons a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #AABAC5;
}

.PostFooterIcons a, .PostFooterIcons a:link, .PostFooterIcons a:visited, .PostFooterIcons a:hover
{
  margin:0;
}

.PostFooterIcons a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #8FA4B3;
}

.PostFooterIcons a:visited, .PostFooterIcons a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #8FA4B3;
}

.PostFooterIcons a:hover, .PostFooterIcons a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #75B8CC;
}


/* end PostIcons */

/* begin Button */
button.Button, a.Button
{
  position:relative;
  display:inline-block;
  width: auto;
  outline:none;
  border:none;
  background:none;
  line-height:31px;
  margin:0;
  padding:0;
  overflow: visible;
  cursor: default;
  text-decoration: none !important;
}

a.Button {
  float: left;
}

/*This HACK needed for ie7 (button position)*/
*:first-child+html button.Button, *:first-child+html a.Button
{
  display:list-item;
  list-style-type:none;
  float:left;
}


.Button .btn
{
  position: relative;
  overflow: hidden;
  display: block;
  width: auto;
  z-index: 0;
  height: 31px;
  color: #000000;
  white-space: nowrap;
  float: left;
}

.Button .t
{
  height:31px;
  white-space: normal;
  padding: 0 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  text-align: left;
  line-height: 31px;
  text-decoration: none !important;
}

input, select
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.Button .active
{
  color: #F2F6F8;
}

.Button .hover,  a.Button:hover
{
  color: #E9F3F7;
  text-decoration: none !important;
}

.Button .active .r
{
  top: -62px;
}

.Button .hover .r
{
  top: -31px;
}

.Button .r
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width: 10px;
  height: 93px;
}


.Button .r span
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  right: 0;
  width:409px;
  height: 93px;
}


.Button .active .l
{
  top: -62px;
}

.Button .hover .l
{
  top: -31px;
}

.Button .l
{
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  right: 10px;
  height: 93px;
}


.Button .l, .Button .r span
{
  background-image: url('images/Button.png');
}

/* end Button */

/* begin Footer */
.Footer
{
  position:relative;
  z-index:0;
  overflow:hidden;
  width: 898px;
  margin: 5px auto 0px auto;
}

.Footer .Footer-inner
{
  height:1%;
  position: relative;
  z-index: 0;
  padding: 8px;
  text-align: center;
}

.Footer .Footer-background
{
  position:absolute;
  z-index:-1;
  background-image: url('images/Footer.png');
  width: 898px;
  height: 100%;
  bottom:0;
  left:0;
  background-position: bottom right;
}



.rss-tag-icon
{
  position: relative;
  display:block;
  float:left;
  background-image: url('images/rssIcon.png');
  background-position: center right;
  background-repeat: no-repeat;
  margin: 0 5px 0 0;
  height: 30px;
  width: 30px;
}




.Footer .Footer-text p
{
  margin: 0;
}

.Footer .Footer-text
{
  display:inline-block;
  color:#0E1315;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.Footer .Footer-text a:link
{
  text-decoration: none;
  color: #131D20;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.Footer .Footer-text a:visited
{
  text-decoration: none;
  color: #253941;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.Footer .Footer-text a:hover
{
  text-decoration: none;
  color: #0E2025;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.page-footer, .page-footer a, .page-footer a:link, .page-footer a:visited, .page-footer a:hover
{
  font-family:Arial;
  font-size:10px;
  letter-spacing:normal;
  word-spacing:normal;
  font-style:normal;
  font-weight:normal;
  text-decoration:underline;
  color:#6AB2C8;
}

.page-footer
{
  margin:1em;
  text-align:center;
  text-decoration:none;
  color:#445764;
}
/* end PageFooter */

/* begin LayoutCell */
.contentLayout .sidebar1
{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  overflow: hidden;
  width: 179px;
}

/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .content
{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  overflow: hidden;
  width: 539px;
}

/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .sidebar2
{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  overflow: hidden;
  width: 179px;
}

/* end LayoutCell */



/*
** HTML elements
*/
#footer
{
  text-align: center;
}

ul li 
{
  text-align: left;
  background-image: none;
  display: block;
}
 
.tabs, .links
{
  padding-left: 0px;
  margin: 0px;
}

.tabs li, .links li
{
  float: left;
  display: block;
  padding: 0 0 0 1em;
}

#user-login-form 
{
  text-align: left;
}

#user-login-form ul li
{
  background-image: none;
  padding-left:0;
}

fieldset
{
  margin: 1em 0;
  padding: 1em;
  border: 1px solid ;
  width: 95%;
}

fieldset legend 
{
  /* Fix disappearing legend in FFox */
  display: block;
}

.breadcrumb 
{
  display: block; 
  padding-bottom: .7em;
}

.form-text, .form-textarea
{
  width: 95%;
  text-align: left;
}

.tags
{
  float: left;
}

.messages {
  padding: 5px;
  margin: 5px 0;
}

.status
{
  border: 1px solid #090;
  background:#C9FBC8;
  margin: 5px 0;
}

.messages li
{
  margin: 5px 0;
}

tr.even, tr.odd
{
  background-color: transparent;
}

#forum table
{
  width: 99%;
  margin-top: 15px;
}

#forum td.container
{
  padding-top: 15px;
  border-left: none;
  border-right: none;
}

#forum td.active
{
  background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
  padding-top: 4px;
  padding-bottom: 4px;
}

#forum td.container
{
  font-weight: bold;
}

#forum td.active
{
  background-color: transparent;
}

.forum-topic-navigation
{
  border-top: 0px transparent;
  border-bottom: 0px transparent;
}

.forum-topic-navigation .topic-previous
{
  text-align: left;
  float: left;
}

.forum-topic-navigation .topic-next
{
  text-align: right;
  float: right;
}

.read_more
{
  margin: 5px 0px;
  text-align:left;
}

.preview .node,
.preview .comment,
.sticky {
  margin: 0;
  padding: 0.5em 0;
  border: 0;
  background: 0;
}

.sticky {
  padding: 1em;
  border: solid 1px #2B424A;
  margin-bottom: 2em;
}